.aulogo {
		position: absolute;
		height: 50px;
		width: 50px;
		margin-left: 5px;
		margin-top: 10px;
	}
  .active-icon {
    width: 30px; 
    height: 30px; 
    margin-left: -5px;
    margin-top: 75px;
  }
  .not-active {
    width: 30px; 
    height: 30px; 
    margin-left: -25px; 
    margin-top: 75px;
  }